.asks {
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.asks-buttons {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.asks-button {
    background-color: white;
    border: #9095A0 1px solid;
    border-radius: 26px;
    padding: 10px 40px;

    color: #9095A0;
    font-weight: 600;
}

.asks-button:hover {
    border-color: #636AE8;

    color: #636AE8;
}

.asks-button-active {
    background-color: #636AE8;
    border: #fafcff 1px solid;
    border-radius: 26px;
    padding: 10px 40px;

    color: white;
    font-weight: 600;
}

.asks-info {
    gap: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.asks-info > article {
    gap: 10px;
    display: flex;
    flex-direction: column;

    border-bottom: #DEE1E6 1px solid;
    padding-bottom: 10px;
    width: 100%;
}

.asks-info > article > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
}

.asks-info > article > div > h3 {
    font-size: 24px;
    font-weight: 600;
    min-width: 0;
}

.asks-info > article > div > img {
    flex-shrink: 0;
}

.asks-info > article > p {
    font-size: 15px;
    font-weight: 500;

    max-width: 100%;
}

.asks-text {
    display: none;
}

@media (max-width: 767px) {
    .asks {
        flex-direction: column;
        gap: 32px;
    }

    .asks-buttons {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;
    }
}
