.about-us {
  display: flex;
  align-items: center;
}

.about-us-body {
  gap: 20px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.about-us-head {
    gap: 9px;
    display: flex;
    flex-direction: column;
} 

.about-us-text {
    font-size: 17px;
    line-height: 150%;
}

.button-learn-more {
  border-color: #636ae8;
  border-style: solid;
  border-width: 1px;
  border-radius: 26px;
  padding: 15px 60px;

  color: #636ae8;
  font-family: "Inter";
  font-weight: 800;
}
