.our-products {
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-products-head {
  gap: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.our-products-buttons {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  color: #636ae8;
  font-size: 14px;
  font-family: "Inter";
}

.our-products-cards {
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;

  font-family: "Inter";
}

.product-card {
  gap: 15px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.product-card > img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 8px;
}

.best-seller {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.best-seller::before {
  content: 'Best Seller';
  padding: 7px;
  border-radius: 14px;
  background-color: #E8618C;

  color: white;
  font-size: 12px;
}

.product-card-body {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.product-card-description {
  color: #323842;
  font-size: 14px;
}

.product-card-bottom {
  display: flex;
  justify-content: space-between;
}

.product-card-price {
  gap: 10px;
  display: flex;
  align-items: center;
}

.card-price-one {
  font-weight: 700;
  font-size: 32px;
}

.card-price-two {
  font-size: 16px;
  color: #6e7787;
  text-decoration: line-through;
}

.product-card-active {
  color: white;

  border-radius: 6px;
  padding: 10px 35px;
  background-color: #636ae8;
}

.product-shop-button {
  flex: 0 0 auto;
  padding: 10px 10px;
  border-color: #636ae8;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
}

@media (max-width: 1023px) {
  .our-products-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 767px) {
  .our-products {
    gap: 36px;
  }

  .our-products-head {
    gap: 26px;
  }
}

@media (max-width: 479px) {
  .our-products-cards {
    grid-template-columns: 1fr;
  }

  .product-card-active {
    padding-inline: 26px;
  }
}
