.feature-card {
  gap: 60px;
  display: flex;
  align-items: baseline;
  flex-direction: column;

  border-radius: 20px;
  padding: 50px 30px 30px;
}

.feature-card-head {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.feature-card-heading {
  font-size: 32px;
  font-family: "Archivo";
  color: #323842;
  font-weight: 700;
}

.feature-card-body {
  font-family: "Inter";
  line-height: 30px;
  font-size: 20px;
}

.button-feature-card {
  text-decoration: underline;
  text-decoration-thickness: 2px; 
  text-underline-offset: 4px;
}
