header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 21px 45px;

  line-height: 22px;
}

.nav-and-auth {
  gap: 90px;
  display: flex;
}

nav {
  gap: 20px;
  display: flex;
  align-items: center;
}

.links {
  color: #424955;
  font-size: 16px;
  font-weight: 600;
}

.auth {
  gap: 20px;
  display: flex;
  align-items: center;
}

.auth-items {
  font-weight: 700;
  line-height: 22px;
}

.login {
  color: #636ae8;
}

.get-free {
  background-color: #636ae8;
  border-radius: 16px;
  width: 147px;
  height: 36px;

  color: white;
}
