.contacts {
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts > section {
  gap: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.contact {
  display: flex;
  flex-direction: column;

  border-bottom: #bcc1ca 1px solid;
  width: 260px;
}

.contact > section {
  gap: 10px;
  display: flex;
  align-items: center;

  padding: 10px 10px 10px 10px;
}

@media (max-width: 1400px) {
  .contacts > section {
    gap: 60px;
  }
}

@media (max-width: 1300px) {
  .contacts > section {
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .contacts > h2 {
    font-size: 36px;
    max-width: 250px;
    text-align: center;
  }

  .contacts > section {
    grid-template-columns: 1fr;
  }
}
