.header {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px var(--page-inline-padding);
  line-height: 22px;
}

.header-nav {
  gap: 20px;
  display: flex;
  align-items: center;
}

.nav-and-auth {
  gap: clamp(28px, 6vw, 90px);
  display: flex;
  align-items: center;
}

.links {
  color: #424955;
  font-size: 16px;
  font-weight: 600;
}

.links:hover {
  color: #656970;
}

.auth {
  gap: 20px;
  display: flex;
  align-items: center;
}

.auth-items {
  font-weight: 700;
  line-height: 22px;
}

.login {
  color: #636ae8;
}

.login:hover {
  color: #7a7edb;
}

.get-free {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #636ae8;
  border-radius: 16px;
  width: 147px;
  height: 36px;

  color: white;
}

.get-free:hover {
  background-color: #7076e2;
}

@media (max-width: 1023px) {
  .header {
    align-items: flex-start;
  }

  .nav-and-auth {
    gap: 18px;
    align-items: flex-end;
    flex-direction: column;
  }

  .header-nav {
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 18px;
    padding-bottom: 18px;
    align-items: center;
    flex-direction: column;
  }

  .nav-and-auth {
    width: 100%;
    align-items: center;
  }

  .header-nav {
    justify-content: center;
  }

  .auth {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 479px) {
  .header-nav {
    gap: 12px 16px;
  }

  .links {
    font-size: 14px;
  }
}
