@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-primary: #636ae8;
  --color-text-main: #323842;
  --color-text-dark: #171a1f;
  --color-title: #424955;
  --color-white: #ffffff;

  --font-main: "Poppins", sans-serif;
  --font-heading: "Archivo", sans-serif;
  --font-ui: "Inter", sans-serif;
}

.app {
  font-family: var(--font-main);
}

h1 {
  font-family: var(--font-main);
  color: var(--color-title);
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

h2 {
  font-family: var(--font-heading);
  color: var(--color-text-main);
  font-size: 52px;
  font-weight: 700;
}

h3 {
  font-family: var(--font-heading);
  color: var(--color-text-dark);
  font-weight: 800;
}

.home-body {
  gap: 60px;
  display: flex;
  flex-direction: column;

  padding: 70px 100px;
}

.description {
  color: #323842;
  font-size: 14px;
}